<%- include("./header.ejs") %>


  <div class="container mt-4 mb-4">
    <div class="row section7 mt-4">
      <div class="col-md-7 mt-4">
        <div class="heading ">
          <h1 class="text-start " style="font-size: 40px">
            <%= d.title %>
          </h1>
          <p class="text-start">EARTH-STORE on <span>
              <%= d.createdAt.toLocaleDateString() %>
            </span></p>
        </div>
        <div class="img  text-start">
          <img src="<%= d.image.url %>">
        </div>
        <div class="text-start align-item-justify">
          <p>
            <%= d.description %>
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="blogs">
          <div class="bg-white p-4 mt-4 ">
            <div class="head">
              <h2 class="bg-green">Blog</h2>
              <% r.forEach((recentitem)=>{ %>
                <div class="images">
                  <img src="<%= recentitem.image.url %>">
                  <div>
                    <p>
                    <h4>
                      <%= recentitem.title %>
                    </h4>
                    <%= recentitem.createdAt.toLocaleDateString() %>
                      </p>
                  </div>
                </div>
    
                <% }) %>
            </div>
    
            <div class="footer">
              <h2 class="bg-green px-4 py-1">Categories</h2>
              <% rcat.forEach((recentitem)=>{ %>
                <div class="images">
                  <img src="<%= recentitem.image.url %>">
                  <div>
                    <p>
                    <h4>
                      <%= recentitem.title %>
                    </h4>
                    <%= recentitem.createdAt.toLocaleDateString() %>
                      </p>
                  </div>
                </div>
    
                <% }) %>
            </div>
          </div>
    
        </div>
      </div>
    </div>
  </div>

