<%- include("./header.ejs") %>




<section class="section7">
    <div class="heading">
        <h1><%= d.title %></h1>
         <p>by PNINFOSYS on <span><%= d.createdAt.toLocaleDateString() %></span></p>
    </div>
    <div class="img">
               <img src="<%= d.image.url %>">
     </div>
    <div class="text">
     <p><%= d.description %></p>
    </div>
    <div class="blogs">

       
 <div class="head"><h2>Bloge</h2> <% r.forEach((recentitem)=>{   %>
         <div class="images">
         <img src="<%= recentitem.image.url %>">
         <div><p>  <h4><%= recentitem.title %></h4> <%= recentitem.createdAt.toLocaleDateString() %></p></div></div>

        <%    })  %></div>
    
       <div class="foot"><h2>Categories</h2></div>

    </div>
    
</section>

<%- include("./footer.ejs") %>