<%- include('../../header.ejs') %>

    <!-- sidebar  -->
    <div class="flex my-14 justify-evenly flex-wrap h-screen pt-5">
        <div>
            <ul class="flex flex-col space-y-1 w-72 text-lg">
                <a href="/admin/dashbord" class="bg-[#e5e7eb8a] p-2 hover:bg-black hover:text-white">Dashboard</a>
                <a href="/admin/blog/display" class="bg-[#e5e7eb8a] p-2 hover:bg-black hover:text-white">Blogs</a>
                <a href="/admin/category/display"
                    class="bg-[#e5e7eb8a] p-2 hover:bg-black hover:text-white">Categories</a>
                <a href="/admin/contact/display" class="bg-[#e5e7eb8a] p-2 hover:bg-black hover:text-white">Contact</a>
                <a href="/admin/about/display" class="bg-[#e5e7eb8a] p-2 hover:bg-black hover:text-white">About</a>
                <a href="/logout" class="bg-[#e5e7eb8a] p-2 hover:bg-black hover:text-white">Logout</a>
            </ul>
        </div>

        <!-- blog-list  -->
        <div class="w-3/5">
            <div class="flex justify-between">
                <div>
                    <h1 class="text-3xl font-medium">Blog List</h1>
                </div>
                <% if (typeof message !== 'undefined' && message.length > 0) { %>
                    <div class="alert alert-success">
                      <%= message %>
                    </div>
                  <% } %>
                <div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success bg-green-500" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Add Blog
                    </button>
                </div>
            </div>
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <% i =1 %>
                    <% d.forEach((item)=>{ %>
                        <tr>
                            <td><%= i++ %></td>
                            <td width="70px"><%= item.title %></td>
                            <td width="600px"><%= item.description %></td>
                            <td><img src="<%= item.image.url %>" width="100px"></td>
                            <td class="space-x-3" width="200px">
                                <a href="/blogview/<%= item._id %>">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a href="/blogedit/<%= item._id %>">
                                    <i class="fa-solid fa-pen-to-square text-blue-500"></i>
                                </a>
                                <a href="/blogdelete/<%= item._id %>">
                                    <i class="fa-solid fa-trash-can text-red-500"></i>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>


    <!-- model create -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Blog</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/insertblog" method="post" enctype="multipart/form-data">
                        <div class="md-3 mb-3">
                            <label for="">Title</label>
                            <input type="text" name="title" class="form-control" />
                        </div>
                        <div class="md-3 mb-3">
                            <label for="">Description</label>
                            <textarea name="description" class="form-control" id="" cols="30" rows="10"></textarea>
                        </div>
                        <div class="md-3 mb-3">
                            <label for="">img upload</label>
                            <input type="file" name="image" class="form-control" />
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary me-2 bg-slate-500" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary bg-blue-500">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../footer.ejs') %>